database/*
result_static/*
**/__pycache__
logs
logs/*
.vscode
*.zip
run_test.py
test.py
benckmark_script/*
test/*
test_output/*
back/*
train_scripts/*
back
back/*
lib/back
lib/back/*
utils/back
utils/back/*
scripts/back
scripts/back/*